nav{
    position: fixed;
    bottom:0;
    height: 100px;
    background: #fff;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    border-top: 1px solid #ebebeb;
    z-index: 99999;
}
nav p{
    display: flex;
    flex-direction: column;
    width: 25%;
}
nav img{
    margin: 0 auto;
    height: 62px;
}
.active{
    color: red;
}