#lightprompt{
    width: 300px;
    height: 150px;
    background: #ccc;
    opacity: 0.5;
    text-align: center;
    line-height: 150px;
    border-radius: 30px;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    display: none;
  }