body{
    background: #fefefe;
    height: 100%;
}
html{
    height: 100%;
}
.Login{
    width:100% ;
    height: 1620px;
    background: #fefefe;
}

.loginTop{
    width: 100%;
    height: 86px;

}
.loginTop button{
    float: left;
}
.loginLogo{
    width: 100%;
    height: 226px;

}
.loginLogo img{
    width: 320px;
    height: 100px;
    margin: 57px auto 0;
}
.loginFrom{
    /* background: pink; */
    padding-top: 20px;
}
.loginFrom hr{
    width: 84%;
    margin: 0 auto;
}
.loginFrom p{
    /* border: 1px solid #333; */
    width: 700px;
    margin: 0 auto;
}
.loginFrom p input{
    width: 90%;
    height: 110px;
    font-size: 32px;
}
.loginFrom>input{
    width: 84%;
    height: 100px;
    margin:100px 0 40px 0;
    background: linear-gradient(50deg, #ff9a34, #ff4d4a);
    color: #FEFEFE;
    opacity: 0.4;
    border-radius: 66.667px;
}
.logbot{
    width: 82%;
    margin: 0 auto;
    color: #666666;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
#bastBottom{
    width: 100%;
    /* margin-top: 1.5px; */
 
    position:absolute;
    bottom: 80px;
}
.bastBottom{
    display: flex;
    /* position: relative; */
    /* top: 30%; */
    width: 83%;
    margin: 0 auto 36px;

}
.bastBottom p{
    /* width: 15%; */
    font-size: 0.2px;
    margin-top: 3px;
    margin: 0 auto;
}
.bastBottom hr{
    width: 20%;
    /* height: 0.01px; */
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.logqqwb{
    display: flex;
    /* height: 0.35px; */
    justify-content: space-evenly;
    /* margin-top: 0.03px; */
}
.logqqwb p{
    width: 70px;
}
.logqqwb p img{
    width: 100%;
    height: 100%;

}
