.My{
    width: 100%;
    background: url("../../images/bg.png") no-repeat;
    background-size: contain;
    padding-top: 50px ;
    margin: 0 auto;
    background-color: #f5f5f5;
    height: 1500px;
}
.top{
    width: 750px;
    height: 379px;
    margin: 0 auto;
  
}
.vip{
    width: 750px;
    height: 180px;
    /* background: orange; */
    margin: 0 auto;
    box-sizing: border-box;
    vertical-align: center;
    padding: 0 10px;
    margin-top: 10px;
}
.vip img{
    width: 100%;
}
.card{
    width: 750px;
    height: 377.94px;
    /* background: green; */
    margin: 0 auto;
   
}
.card div{
    width: 690px;
    height: 176.96px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card div dl{
    text-align: center;
    /* font-size: 1000px;     */
    color: #666666;
    width: 25%;
}
.card div dl dt{
    font-size: 50px;
    color: #666;
}
.card div dl dd{
    font-size: 24.6px;
    color: #666;
    margin-top: 10px;
}

.topMain{
    width: 690px;
    height: 308.96px;
    background: white;
    margin:0 auto ;
    border-radius: 10px;
}
.topMainCen{
 width: 690px;
 height: 102px;
 /* background: green; */
 padding: 0 30px;   
 box-sizing: border-box;
 padding-top: 10px;
}
.topMainCen>img{
    width: 106px;
    height: 106px;
    float: left;
    position: relative;
    bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;

}
.topMainCen>.p1{
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    color:#232323;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.topMainCen>.p2{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 320px;
    color: #999999;
    margin-top: 10px;
}

.sz{
    width: 80px;
    margin:  0 0 30px 630px ;
    font-size: 30px;
}
.topMainBottom{
    /* background:blue; */
    width: 161.94px;
    height: 51.94px;
    float: right;
    border-radius: 72px 0px 0px 72px;;
    font-size:0.2px;
    padding: 0.18666px 0.56px 0.18666px 0.77334px;
    text-align: center;
    line-height: 51.94px;
    /* background: #F5F5F5; */
    /* color: #B3B3B3; */
    font-weight: bold;  
}
.topMainCol{
    width: 100%;
    /* background:pink; */
    display: flex;
   
    align-items: center;
    justify-content: space-between;
}
.topMainCol p{
    width: 25%;
    height: 136px;    
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
}
.topMainCol p b{
    color: #666666;
    font-weight: 500;
    font-size: 28px;
}
.topMainCol p i{
    font-size: 40px;
    margin-bottom: 10px;
}
.topMainCol div{
    border-left: solid #ccc 1px;
    height: 68px;

}
