.piaojiaym{
    /* height: 800px; */
    background: white;
    color:#999999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 36px;
    text-align: center;
}
section p{
    width: 100%;
    height: 100%;
    line-height: 80px;
    /* margin-left: 0.2rem; */

}
section b{
    float: left;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 75px;
    font-size: 44px;
}

section span{
    width: 80px;
    height: 80px;
    position: absolute;
    font-size: 56px;
    /* background: green; */
    line-height: 44px;
    top: 0;
    right: 0;
}

.piaojiaym img{
    margin: 400px auto 40px;
    width: 218px;
    height: 155px;
    /* border: 1px solid #333; */
}
.piaojiaym button{
    height: 100px;
    width: 290px;
    background: linear-gradient(-50deg,#FF4D4A,#FF9A34);
    border: none;
    margin: 126.666px auto 0;
    
    border-radius: 5333.334px;
    
   
    color: ivory;
    font-size: 30px;
}