*{
    margin: 0;
    padding: 0;
}
.head {
    height: 104px;
    padding: 0 34px;
    background-color: pink;
    width:750px;
}

.headAddress {
    width: 140px;
    border: 1px solid black;
}

.headAddressName {
    font-size: 46px;
    font-weight: 700;
}