.App {
  /* text-align: center; */
  text-decoration: none;
}  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
  width: 25%;
  position: relative;
}
.App-link>i {
  font-size: 50px;
}
.App-link>span{
  position: absolute;
  top: 0px;
  left: 0px;
}
.App-active>i {
  color: #FF6743;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,figure,figcaption,fieldset{
  margin:0;padding:0;
}
ol,ul,li{list-style: none;}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
a{
  text-decoration: none;
}
b,strong{
  font-weight: normal;
}
em,i{
  font-style: normal;
}
img{
  border:0;
  vertical-align: top;
}
input{
  border: 0;
  outline: none;
}